@model Neighbours.Web.Models.Account.RegisterViewModel
@using Neighbours.Data.Models
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "modal-content form-horizontal col-md-8 col-md-offset-2", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "" })
    <fieldset>
        <legend>Register new user</legend>
        <div class="form-group">
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-4 control-label" })
            <div class="col-md-6">
                @Html.Kendo().TextBoxFor(m => m.UserName).HtmlAttributes(new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "alert alert-danger my-alert" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-4 control-label" })
            <div class="col-md-6">
                @Html.Kendo().TextBoxFor(m => m.FirstName).HtmlAttributes(new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "alert alert-danger my-alert" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-4 control-label" })
            <div class="col-md-6">
                @Html.Kendo().TextBoxFor(m => m.LastName).HtmlAttributes(new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "alert alert-danger my-alert" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.BirthDate, new { @class = "col-md-4 control-label" })
            <div class="col-md-6">
                @Html.Kendo().DatePickerFor(m => m.BirthDate).HtmlAttributes(new { @class = "datepicker-block" })
                @Html.ValidationMessageFor(m => m.BirthDate, "", new { @class = "alert alert-danger my-alert" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })

            <div class="col-md-6">
                @Html.Kendo().TextBoxFor(m => m.Email).HtmlAttributes(new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "alert alert-danger my-alert" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
            <div class="col-md-6">
                @Html.Kendo().TextBoxFor(m => m.Password).HtmlAttributes(new { @class = "form-control", type = "password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "alert alert-danger my-alert" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
            <div class="col-md-6">
                @Html.Kendo().TextBoxFor(m => m.ConfirmPassword).HtmlAttributes(new { @class = "form-control", type = "password" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "alert alert-danger my-alert" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ProfileImage, new { @class = "col-md-4 control-label" })
            <div class="col-md-6">
                @Html.Kendo().Upload().Name("file").Messages(m => m.Select("Choose image...")).HtmlAttributes(new { @class = "form-control btn btn-primary", accept = "image/*" }).Multiple(false).Events(events => events.Select("onSelect")).Events(events => events.Remove("onRemove"))
                @Html.ValidationMessageFor(m => m.ProfileImage, "", new { @class = "alert alert-danger my-alert" })
                <div id="wrongFileMsg" class="alert alert-info collapse">Please select an image file!</div>
            </div>


        </div>

        <div id="radioGroup" class="form-group">
            @Html.LabelFor(m => m.Gender, new { @class = "col-md-4 radio inline control-label" })
            <div class="form-inline col-md-6 col-md-offset-0">
                <div class="controls-row">
                        @(Html.Kendo().RadioButton().Name("maleRadio").Checked(true).Value(Gender.Male).HtmlAttributes(new { @name = "Gender" }).Label("Male"))
                        @(Html.Kendo().RadioButton().Name("femaleRadio").Value(Gender.Female).HtmlAttributes(new { @name = "Gender" }).Label("Female"))
                        @(Html.Kendo().RadioButton().Name("otherRadio").Value(Gender.Other).HtmlAttributes(new { @name = "Gender" }).Label("Other"))
                </div>
            </div>
        </div>
        <div id="imgShow" class="form-group">
            <label class="col-md-4 control-label">Selected Profile Image</label>
            <div class="col-md-6">
                <img width="100" src="@Url.Content("~/Content/imgs/male.png")" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-5 col-md-6">
                <input type="submit" class="btn btn-success" value="Register" />
            </div>
        </div>
    </fieldset>
}

<script>

</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/site/profile-image.js")
}
