@using Microsoft.AspNet.Identity
@if (this.User.Identity.IsAuthenticated)
{
    
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("All", "All", "Communities", new { Area = "Private" }, new { } )</li>
        <li>@Html.ActionLink("My", "My", "Communities", new { Area = "Private" }, new { })</li>
        <li>@Html.ActionLink("Create", "Create", "Communities", new { Area = "Private" }, new { })</li>
        @if (this.User.IsInRole("Administrator"))
        {
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Admin <span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="themes">
                    <li>@Html.ActionLink("My Communities", "Index", "Communities", new { Area = "Administrator" }, new { })</li>
                </ul>
            </li>
        }

        @if (this.User.IsInRole("SuperUser"))
        {
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">SuperUser<span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="themes">
                    <li>@Html.ActionLink("Users", "Index", "Users", new { Area = "SuperUser" }, new { })</li>
                </ul>
            </li>


        }
    </ul>
}
else
{

    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Communities", "All", "Home")</li>
    </ul>
}