@model Neighbours.Web.Areas.SuperUser.Models.Users.UserViewModelSuper

@Html.HiddenFor(model => model.Id)

<div class="form-group">
    @Html.LabelFor(m => m.UserName, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.Kendo().TextBoxFor(m => m.UserName).HtmlAttributes(new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "alert alert-danger my-alert" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.FirstName, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.Kendo().TextBoxFor(m => m.FirstName).HtmlAttributes(new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "alert alert-danger my-alert" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.LastName, new { @class = "col-md-4 control-label" })
    <div class="col-md-6">
        @Html.Kendo().TextBoxFor(m => m.LastName).HtmlAttributes(new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "alert alert-danger my-alert" })
    </div>
</div>

